<div class="form-container">
  <h2>{{ mode === 'add' ? 'Nueva Noticia' : 'Editar Noticia' }}</h2>
  <p>{{ mode == 'add' ? 'Completar' : 'Actulizar' }} los siguientes datos.</p>

  <form [formGroup]="noticeForm" (ngSubmit)="handleClick()">
    <label>Url</label>
    <input type="text" formControlName="link" />

    <label>Imagen Url</label>
    <input type="text" formControlName="image_url" />

    <label>Autor</label>
    <input type="text" formControlName="creator" />

    <label>Título</label>
    <input type="text" formControlName="title" />

    <label>Descripción</label>
    <textarea formControlName="description"></textarea>

    <div class="button-row">
      <button type="button" class="cancel-btn" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="save-btn">Guardar</button>
    </div>
  </form>
</div>
