.notice-card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0rem 1rem 1rem 8rem;
  height: auto;
  overflow: hidden;
}

.top-notice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.notice-content {
  flex: 0 0 60%;
  padding: 0.2rem 1rem 1rem 1rem;
}

.notice-content h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.notice-content p {
  margin: 8px 0;
  color: #333;
}

.creator-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0 0;
}


.creator-content p {
  font-size: medium;
  font-weight: 900;
  color: #8a0808fc;
}

.notice-actions {
  display: flex;
  gap: 0.5rem;
}


.image-content {
  padding-top: 2rem;
}

.notice-image {
  height: 25rem;
  width: auto;
}

.notice-link {
  display: inline-block;
  margin-top: 0.2rem;
  color: #007bff;
  text-decoration: none;
  font-size: 0.75rem;
}

.notice-link:hover {
  text-decoration: underline;
}

.description-text {
  max-width: 60%;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.5;
}

.notice-date {
  font-size: 0.9em;
  color: #666;
  margin-top: 12px;
}

.sidebar-column-content {
  flex: 0 0 40%;
}

.bottom-notice {
  margin-top: 4rem;
  flex-shrink: 0;
}
