@if (notice && !isLoading) {
  <div class="notice-card">
    <div class="top-notice">
      <div class="notice-content">
        <!-- Sección del autor con botones alineados a la derecha -->
        <div class="creator-content">
          <p>
            Autor:
            {{ notice.creator && notice.creator.length > 0 ? notice.creator[0] : 'Anonymous' }}
          </p>
          <div class="notice-actions">
            <app-notice-button-icon
              mode="edit"
              [noticeId]="notice.article_id"
            ></app-notice-button-icon>
            <app-notice-button-icon mode="delete" [noticeId]="notice.article_id">
            </app-notice-button-icon>
          </div>
        </div>

        <h3>{{ notice.title }}</h3>
        <div class="image-content">
          <img
            [src]="notice.image_url"
            alt="Imagen de noticia"
            class="notice-image"
            (error)="onImageError($event)"
          />
        </div>
        <p class="description-text">{{ notice.description }}</p>
        <p class="notice-date">Publicado: {{ notice.pubDate | date: 'medium' }}</p>
        <a [href]="notice.link" target="_blank" class="notice-link">Leer más</a>
      </div>
      <div class="sidebar-column-content">
        <app-sidebar [notices]="getNoticesBySideBar()" (noticeClick)="handleNoticeClick($event)"></app-sidebar>
      </div>
    </div>
    <div class="bottom-notice">
      <app-carousel [notices]="listNotice" (noticeClick)="handleNoticeClick($event)"></app-carousel>
    </div>
  </div>
} @else if (!notice && !isLoading) {
  <div class="no-news">Lo sentimos mucho, no hay noticias.</div>
} @else if (isLoading) {
  <app-spinner></app-spinner>
}
