@if (notice && !isLoading) {
  <div class="notice-card">
    <div class="top-notice">
      <div class="notice-content">
        <div class="creator-content">
          <p>
            Autor:
            {{ notice.creator && notice.creator.length > 0 ? notice.creator[0] : 'Anonymous' }}
          </p>
        </div>

        <h3 (click)="handleNoticeClick(notice)">{{ notice.title }}</h3>
        <div class="image-content">
          <img
            [src]="notice.image_url"
            alt="Imagen de noticia"
            class="notice-image"
            (error)="onImageError($event)"
            (click)="handleNoticeClick(notice)"
          />
        </div>

        <p class="notice-date">Publicado: {{ notice.pubDate | date: 'medium' }}</p>
      </div>

      <div class="sidebar-column-content">
        <app-sidebar
          [notices]="getNoticesBySideBar()"
          (noticeClick)="handleNoticeClick($event)"
        ></app-sidebar>
      </div>
    </div>
    <div class="bottom-notice">
      <app-carousel [notices]="listNotice" (noticeClick)="handleNoticeClick($event)"></app-carousel>
    </div>
  </div>
} @else if (!notice && !isLoading) {
  <div class="no-news">Lo sentimos mucho, no hay noticias.</div>
} @else if (isLoading) {
  <app-spinner></app-spinner>
}
